.app-history-table {
  &__table {
    width: 100%;
    max-width: 800px;
  }

  &__type-label {
    background: white;
    color: white;
    box-sizing: border-box;
    border-radius: 16px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    display: block;
    width: 120px;
  }

  &__type-label--income {
    background: #066a06;
  }

  &__type-label--outcome {
    background: #f44336;
  }
}
