<app-dialog (closed)="closed.emit()" (submitted)="handleSubmit()">
  <h3 class="text-base font-semibold leading-6 text-gray-900">
    Create new account
  </h3>

  <div class="mt-2 text-sm text-gray-500">
    <form [formGroup]="formGroup">
      <label
        for="balance"
        class="block text-sm font-medium leading-6 text-gray-900"
      >
        Current balance
      </label>

      <div class="relative mt-2 rounded-md shadow-sm">
        <div
          class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
        >
          <span class="text-gray-500 sm:text-sm">$</span>
        </div>

        <input
          formControlName="value"
          type="number"
          name="balance"
          id="balance"
          class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="0.00"
        />

        <div class="absolute inset-y-0 right-0 flex items-center">
          <label for="currency" class="sr-only">Currency</label>

          <select
            formControlName="currency"
            id="currency"
            name="currency"
            class="h-full rounded-md border-0 bg-transparent py-0 pl-2 pr-7 text-gray-500 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
          >
            <option>USD</option>
            <option>EUR</option>
          </select>
        </div>

        <p
          *ngIf="formGroup.controls.value.hasError('required')"
          class="absolute text-red-700"
        >
          Balance is required
        </p>
      </div>
    </form>
  </div>
</app-dialog>
