/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: unset;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

html {
  // BASE SIZE FOR REM
  font-size: 14px;
}
