<div
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div
    class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    aria-hidden="true"
  ></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
      >
        <div class="bg-white px-6 py-8">
          <ng-content></ng-content>
        </div>

        <div class="flex gap-2 justify-end bg-gray-50 px-4 py-3">
          <app-custom-button theme="outlined" (click)="closed.emit()">
            Cancel
          </app-custom-button>

          <app-custom-button theme="primary" (click)="submitted.emit()">
            Submit
          </app-custom-button>
        </div>
      </div>
    </div>
  </div>
</div>
