.main-menu {
  &__logo {
    height: 4rem;

    svg {
      height: 3.5rem;
    }
  }

  &__link {
    color: rgb(255 255 255);
    font-weight: 600;
    line-height: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    
    &--active,
    &:hover {
      background-color: rgb(59 130 246);
    }
  }

}

.footer {
  margin-top: auto;
}